/*
body {
    background-color: beige;
}
*/

/*
.bg_image {
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;
    height: 110vh;
    z-index: -1;
    object-fit: cover;
    filter: blur(10px);
    margin: -10px;
  }
*/

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');


.bg_image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.centre {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background: rgba(255, 255 ,255, 0.6);
    word-wrap: break-word;
    border-radius: 20px;
    font-family: 'Karla', sans-serif;
    
}

.centre .container {
    width: 600px;
    font-size: 24px;
    padding: 15px;
}

ul{
    list-style:none;
    text-align: center;
}
  
h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
.clock{
    font-family: 'Karla', sans-serif;
    font-size:48px;
}


.clicked{
    color:rgb(255, 157, 206);
}

.fonttest {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hidden{
    display: none;
}


  

  